### Primer modelo: Todas las variables

In [8]:
import pandas as pd

In [10]:
df = pd.read_csv('datosPreparados.csv')
df

,title,body,bathrooms,bedrooms,currency,fee,price,price_display,square_feet,address,...,Luxury,Doorman,Tennis,Clubhouse,Garbage Disposal,Patio/Deck,View,Fireplace,Gym,longitud_descripcion
0,"Studio apartment 2nd St NE, Uhland Terrace NE,...","This unit is located at second St NE, Uhland T...",NaN,0.0,USD,No,790,$ 790,101,NaN,...,0,0,0,0,0,0,0,0,0,183
1,Studio apartment 814 Schutte Road,"This unit is located at 814 Schutte Road, Evan...",NaN,1.0,USD,No,425,$ 425,106,814 Schutte Rd,...,0,0,0,0,0,0,0,0,0,154
2,"Studio apartment N Scott St, 14th St N, Arling...","This unit is located at N Scott St, 14th St N,...",1.0,0.0,USD,No,1390,"$ 1,39",107,NaN,...,0,0,0,0,0,0,0,0,0,164
3,Studio apartment 1717 12th Ave,"This unit is located at 1717 12th Ave, Seattle...",1.0,0.0,USD,No,925,$ 925,116,1717 12th Avenue,...,0,0,0,0,0,0,0,0,0,132
4,"Studio apartment Washington Blvd, N Cleveland ...","This unit is located at Washington Blvd, N Cle...",NaN,0.0,USD,No,880,$ 880,125,NaN,...,0,0,0,0,0,0,0,0,0,163
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9993,Five BR 5407 Abbott Place - Abbott,This unit is located at 5407 Abbott Place - Ab...,4.0,5.0,USD,No,6000,"$ 6,00",6300,5407 Abbott Place Abbott,...,0,0,0,0,0,0,0,0,0,144
9994,Six BR 256 Las Entradas,"This unit is located at 256 Las Entradas, Mont...",8.0,6.0,USD,No,25000,"$ 25,00",8716,256 Las Entradas,...,0,0,0,0,0,0,0,0,0,139
9995,Six BR 9908 Bentcross Drive,"This unit is located at 9908 Bentcross Drive, ...",8.5,6.0,USD,No,11000,"$ 11,00",11318,9908 Bentcross Dr,...,0,0,0,0,0,0,0,0,0,141
9996,One BR in New York NY 10069,"Monthly Rent$4,605 -to $4,790AmenitiesThe Aldy...",NaN,1.0,USD,No,4790,"$ 4,79",40000,NaN,...,0,1,0,0,0,0,0,0,0,989
9997,Beautiful Lawrenceville Apartment for rent,"Square footage: 880 sq. feet, unit number: 150...",1.0,1.0,USD,No,1009,"$ 1,01",880,NaN,...,0,0,0,0,0,1,0,0,1,1016

In [16]:
features = df.drop(columns=['price','title','body','currency','fee','price_display','address']).columns

x = df[features]

y = df['price']

Datos de entrenamiento y de prueba

In [19]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=1)