# PREPARACION DE LOS DATOS

In [41]:
#Importar librerias
import pandas as pd

In [42]:
#Importar datos
df = pd.read_csv("datos_apartamentos_rent.csv",index_col=0,encoding="Windows-1252",sep=";")
df

,category,title,body,amenities,bathrooms,bedrooms,currency,fee,has_photo,pets_allowed,...,price_display,price_type,square_feet,address,cityname,state,latitude,longitude,source,time
id,,,,,,,,,,,,,,,,,,,,,
5668626895,housing/rent/apartment,"Studio apartment 2nd St NE, Uhland Terrace NE,...","This unit is located at second St NE, Uhland T...",NaN,NaN,0.0,USD,No,Thumbnail,NaN,...,$ 790,Monthly,101,NaN,Washington,DC,389.057,-769.861,RentLingo,1577359415
5664597177,housing/rent/apartment,Studio apartment 814 Schutte Road,"This unit is located at 814 Schutte Road, Evan...",NaN,NaN,1.0,USD,No,Thumbnail,NaN,...,$ 425,Monthly,106,814 Schutte Rd,Evansville,IN,379.680,-876.621,RentLingo,1577017063
5668626833,housing/rent/apartment,"Studio apartment N Scott St, 14th St N, Arling...","This unit is located at N Scott St, 14th St N,...",NaN,1.0,0.0,USD,No,Thumbnail,NaN,...,"$ 1,39",Monthly,107,NaN,Arlington,VA,388.910,-770.816,RentLingo,1577359410
5659918074,housing/rent/apartment,Studio apartment 1717 12th Ave,"This unit is located at 1717 12th Ave, Seattle...",NaN,1.0,0.0,USD,No,Thumbnail,NaN,...,$ 925,Monthly,116,1717 12th Avenue,Seattle,WA,476.160,-1.223.275,RentLingo,1576667743
5668626759,housing/rent/apartment,"Studio apartment Washington Blvd, N Cleveland ...","This unit is located at Washington Blvd, N Cle...",NaN,NaN,0.0,USD,No,Thumbnail,NaN,...,$ 880,Monthly,125,NaN,Arlington,VA,388.738,-771.055,RentLingo,1577359401
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5630240092,housing/rent/apartment,Five BR 5407 Abbott Place - Abbott,This unit is located at 5407 Abbott Place - Ab...,NaN,4.0,5.0,USD,No,Thumbnail,NaN,...,"$ 6,00",Monthly,6300,5407 Abbott Place Abbott,Edina,MN,449.000,-933.233,RentLingo,1575112975
5668640983,housing/rent/apartment,Six BR 256 Las Entradas,"This unit is located at 256 Las Entradas, Mont...",NaN,8.0,6.0,USD,No,Thumbnail,NaN,...,"$ 25,00",Monthly,8716,256 Las Entradas,Montecito,CA,344.331,-1.196.331,RentLingo,1577360419
5668643292,housing/rent/apartment,Six BR 9908 Bentcross Drive,"This unit is located at 9908 Bentcross Drive, ...",NaN,8.5,6.0,USD,No,Thumbnail,NaN,...,"$ 11,00",Monthly,11318,9908 Bentcross Dr,Potomac,MD,390.287,-772.409,RentLingo,1577360560
5668662559,housing/rent/apartment,One BR in New York NY 10069,"Monthly Rent$4,605 -to $4,790AmenitiesThe Aldy...","Basketball,Cable or Satellite,Doorman,Hot Tub,...",NaN,1.0,USD,No,Thumbnail,NaN,...,"$ 4,79",Monthly,40000,NaN,New York,NY,407.716,-739.876,Listanza,1577362186
5509132540,housing/rent/apartment,Beautiful Lawrenceville Apartment for rent,"Square footage: 880 sq. feet, unit number: 150...","Gym,Patio/Deck",1.0,1.0,USD,No,No,NaN,...,"$ 1,01",Monthly,880,NaN,Lawrenceville,GA,340.072,-840.034,RentDigs.com,1577362141

In [43]:
#Ver las dimensiones del DataFrame
df.shape

(10000, 21)

In [44]:
df.head()

,category,title,body,amenities,bathrooms,bedrooms,currency,fee,has_photo,pets_allowed,...,price_display,price_type,square_feet,address,cityname,state,latitude,longitude,source,time
id,,,,,,,,,,,,,,,,,,,,,
5668626895,housing/rent/apartment,"Studio apartment 2nd St NE, Uhland Terrace NE,...","This unit is located at second St NE, Uhland T...",NaN,NaN,0.0,USD,No,Thumbnail,NaN,...,$ 790,Monthly,101,NaN,Washington,DC,389.057,-769.861,RentLingo,1577359415
5664597177,housing/rent/apartment,Studio apartment 814 Schutte Road,"This unit is located at 814 Schutte Road, Evan...",NaN,NaN,1.0,USD,No,Thumbnail,NaN,...,$ 425,Monthly,106,814 Schutte Rd,Evansville,IN,379.680,-876.621,RentLingo,1577017063
5668626833,housing/rent/apartment,"Studio apartment N Scott St, 14th St N, Arling...","This unit is located at N Scott St, 14th St N,...",NaN,1.0,0.0,USD,No,Thumbnail,NaN,...,"$ 1,39",Monthly,107,NaN,Arlington,VA,388.910,-770.816,RentLingo,1577359410
5659918074,housing/rent/apartment,Studio apartment 1717 12th Ave,"This unit is located at 1717 12th Ave, Seattle...",NaN,1.0,0.0,USD,No,Thumbnail,NaN,...,$ 925,Monthly,116,1717 12th Avenue,Seattle,WA,476.160,-1.223.275,RentLingo,1576667743
5668626759,housing/rent/apartment,"Studio apartment Washington Blvd, N Cleveland ...","This unit is located at Washington Blvd, N Cle...",NaN,NaN,0.0,USD,No,Thumbnail,NaN,...,$ 880,Monthly,125,NaN,Arlington,VA,388.738,-771.055,RentLingo,1577359401

In [45]:
#Se revisa los valores unicos del tipo de precio
df["price_type"].unique()

array(['Monthly', 'Weekly', 'Monthly|Weekly'], dtype=object)

In [46]:
#Se revisa cuantos inmuebles hay por cada tipo de precio
df.groupby(["price_type"]).count()

,category,title,body,amenities,bathrooms,bedrooms,currency,fee,has_photo,pets_allowed,price,price_display,square_feet,address,cityname,state,latitude,longitude,source,time
price_type,,,,,,,,,,,,,,,,,,,,
Monthly,9998,9998,9998,6449,9965,9992,9998,9998,9998,5835,9998,9998,9998,6673,9921,9921,9988,9988,9998,9998
Monthly|Weekly,1,1,1,1,0,0,1,1,1,1,1,1,1,0,1,1,1,1,1,1
Weekly,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1

In [47]:
#Se eliminan las 2 filas con tipos de precio distintos a mensual para ser consistentes
df = df[~df["price_type"].isin(["Weekly", "Monthly|Weekly"])]
df

,category,title,body,amenities,bathrooms,bedrooms,currency,fee,has_photo,pets_allowed,...,price_display,price_type,square_feet,address,cityname,state,latitude,longitude,source,time
id,,,,,,,,,,,,,,,,,,,,,
5668626895,housing/rent/apartment,"Studio apartment 2nd St NE, Uhland Terrace NE,...","This unit is located at second St NE, Uhland T...",NaN,NaN,0.0,USD,No,Thumbnail,NaN,...,$ 790,Monthly,101,NaN,Washington,DC,389.057,-769.861,RentLingo,1577359415
5664597177,housing/rent/apartment,Studio apartment 814 Schutte Road,"This unit is located at 814 Schutte Road, Evan...",NaN,NaN,1.0,USD,No,Thumbnail,NaN,...,$ 425,Monthly,106,814 Schutte Rd,Evansville,IN,379.680,-876.621,RentLingo,1577017063
5668626833,housing/rent/apartment,"Studio apartment N Scott St, 14th St N, Arling...","This unit is located at N Scott St, 14th St N,...",NaN,1.0,0.0,USD,No,Thumbnail,NaN,...,"$ 1,39",Monthly,107,NaN,Arlington,VA,388.910,-770.816,RentLingo,1577359410
5659918074,housing/rent/apartment,Studio apartment 1717 12th Ave,"This unit is located at 1717 12th Ave, Seattle...",NaN,1.0,0.0,USD,No,Thumbnail,NaN,...,$ 925,Monthly,116,1717 12th Avenue,Seattle,WA,476.160,-1.223.275,RentLingo,1576667743
5668626759,housing/rent/apartment,"Studio apartment Washington Blvd, N Cleveland ...","This unit is located at Washington Blvd, N Cle...",NaN,NaN,0.0,USD,No,Thumbnail,NaN,...,$ 880,Monthly,125,NaN,Arlington,VA,388.738,-771.055,RentLingo,1577359401
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5630240092,housing/rent/apartment,Five BR 5407 Abbott Place - Abbott,This unit is located at 5407 Abbott Place - Ab...,NaN,4.0,5.0,USD,No,Thumbnail,NaN,...,"$ 6,00",Monthly,6300,5407 Abbott Place Abbott,Edina,MN,449.000,-933.233,RentLingo,1575112975
5668640983,housing/rent/apartment,Six BR 256 Las Entradas,"This unit is located at 256 Las Entradas, Mont...",NaN,8.0,6.0,USD,No,Thumbnail,NaN,...,"$ 25,00",Monthly,8716,256 Las Entradas,Montecito,CA,344.331,-1.196.331,RentLingo,1577360419
5668643292,housing/rent/apartment,Six BR 9908 Bentcross Drive,"This unit is located at 9908 Bentcross Drive, ...",NaN,8.5,6.0,USD,No,Thumbnail,NaN,...,"$ 11,00",Monthly,11318,9908 Bentcross Dr,Potomac,MD,390.287,-772.409,RentLingo,1577360560
5668662559,housing/rent/apartment,One BR in New York NY 10069,"Monthly Rent$4,605 -to $4,790AmenitiesThe Aldy...","Basketball,Cable or Satellite,Doorman,Hot Tub,...",NaN,1.0,USD,No,Thumbnail,NaN,...,"$ 4,79",Monthly,40000,NaN,New York,NY,407.716,-739.876,Listanza,1577362186
5509132540,housing/rent/apartment,Beautiful Lawrenceville Apartment for rent,"Square footage: 880 sq. feet, unit number: 150...","Gym,Patio/Deck",1.0,1.0,USD,No,No,NaN,...,"$ 1,01",Monthly,880,NaN,Lawrenceville,GA,340.072,-840.034,RentDigs.com,1577362141

In [48]:
#Se revisa que se hayan eliminado correctamente esas dos filas
df.groupby(["price_type"]).count()

,category,title,body,amenities,bathrooms,bedrooms,currency,fee,has_photo,pets_allowed,price,price_display,square_feet,address,cityname,state,latitude,longitude,source,time
price_type,,,,,,,,,,,,,,,,,,,,
Monthly,9998,9998,9998,6449,9965,9992,9998,9998,9998,5835,9998,9998,9998,6673,9921,9921,9988,9988,9998,9998

### CATEGORIZACION DE LAS COLUMNAS

In [ ]:
# Categorizar las columnas necesarias
df = pd.get_dummies(df, columns = ['category'])
df = pd.get_dummies(df, columns = ['pets_allowed'])
df = pd.get_dummies(df, columns = ['has_photo'])
df = pd.get_dummies(df, columns = ['cityname'])
df = pd.get_dummies(df, columns = ['state'])
df = pd.get_dummies(df, columns = ['source'])
df = pd.get_dummies(df, columns = ['price_type'])

df.head()

,title,body,amenities,bathrooms,bedrooms,currency,fee,price,price_display,square_feet,...,source_ListedBuy,source_RENTCafé,source_RENTOCULAR,source_Real Estate Agent,source_RealRentals,source_RentDigs.com,source_RentLingo,source_rentbits,source_tenantcloud,price_type_Monthly
id,,,,,,,,,,,,,,,,,,,,,
5668626895,"Studio apartment 2nd St NE, Uhland Terrace NE,...","This unit is located at second St NE, Uhland T...",NaN,NaN,0.0,USD,No,790,$ 790,101,...,False,False,False,False,False,False,True,False,False,True
5664597177,Studio apartment 814 Schutte Road,"This unit is located at 814 Schutte Road, Evan...",NaN,NaN,1.0,USD,No,425,$ 425,106,...,False,False,False,False,False,False,True,False,False,True
5668626833,"Studio apartment N Scott St, 14th St N, Arling...","This unit is located at N Scott St, 14th St N,...",NaN,1.0,0.0,USD,No,1390,"$ 1,39",107,...,False,False,False,False,False,False,True,False,False,True
5659918074,Studio apartment 1717 12th Ave,"This unit is located at 1717 12th Ave, Seattle...",NaN,1.0,0.0,USD,No,925,$ 925,116,...,False,False,False,False,False,False,True,False,False,True
5668626759,"Studio apartment Washington Blvd, N Cleveland ...","This unit is located at Washington Blvd, N Cle...",NaN,NaN,0.0,USD,No,880,$ 880,125,...,False,False,False,False,False,False,True,False,False,True

In [ ]:
#Categorizar la columna de amenities

# Reemplazar los valores nulos con "" y dividir los amenities en listas
df["amenities"] = df["amenities"].fillna("").str.split(",")

# Obtener el conjunto de todas las amenities únicas
amenities_unicas = set(amenity.strip() for sublist in df["amenities"] for amenity in sublist if amenity)

# Crear las nuevas columnas binarias para cada amenity
for amenity in amenities_unicas:
     df[amenity] = df["amenities"].apply(lambda x: 1 if amenity in [a.strip() for a in x] else 0)

# Eliminar la columna original de amenities
df.drop(columns=["amenities"], inplace=True)

df.head()

,title,body,bathrooms,bedrooms,currency,fee,price,price_display,square_feet,address,...,Gated,Luxury,Doorman,Tennis,Clubhouse,Garbage Disposal,Patio/Deck,View,Fireplace,Gym
id,,,,,,,,,,,,,,,,,,,,,
5668626895,"Studio apartment 2nd St NE, Uhland Terrace NE,...","This unit is located at second St NE, Uhland T...",NaN,0.0,USD,No,790,$ 790,101,NaN,...,0,0,0,0,0,0,0,0,0,0
5664597177,Studio apartment 814 Schutte Road,"This unit is located at 814 Schutte Road, Evan...",NaN,1.0,USD,No,425,$ 425,106,814 Schutte Rd,...,0,0,0,0,0,0,0,0,0,0
5668626833,"Studio apartment N Scott St, 14th St N, Arling...","This unit is located at N Scott St, 14th St N,...",1.0,0.0,USD,No,1390,"$ 1,39",107,NaN,...,0,0,0,0,0,0,0,0,0,0
5659918074,Studio apartment 1717 12th Ave,"This unit is located at 1717 12th Ave, Seattle...",1.0,0.0,USD,No,925,$ 925,116,1717 12th Avenue,...,0,0,0,0,0,0,0,0,0,0
5668626759,"Studio apartment Washington Blvd, N Cleveland ...","This unit is located at Washington Blvd, N Cle...",NaN,0.0,USD,No,880,$ 880,125,NaN,...,0,0,0,0,0,0,0,0,0,0

### CREACION NUEVA COLUMNA CON EL NUMERO DE CARACTERES DE LA VARIABLE "BODY"

In [ ]:
df['longitud_descripcion'] = df['body'].apply(lambda x: len(str(x)))
df.to_csv("datosPreparados.csv",index=False)
df

,title,body,bathrooms,bedrooms,currency,fee,price,price_display,square_feet,address,...,Luxury,Doorman,Tennis,Clubhouse,Garbage Disposal,Patio/Deck,View,Fireplace,Gym,longitud_descripcion
id,,,,,,,,,,,,,,,,,,,,,
5668626895,"Studio apartment 2nd St NE, Uhland Terrace NE,...","This unit is located at second St NE, Uhland T...",NaN,0.0,USD,No,790,$ 790,101,NaN,...,0,0,0,0,0,0,0,0,0,183
5664597177,Studio apartment 814 Schutte Road,"This unit is located at 814 Schutte Road, Evan...",NaN,1.0,USD,No,425,$ 425,106,814 Schutte Rd,...,0,0,0,0,0,0,0,0,0,154
5668626833,"Studio apartment N Scott St, 14th St N, Arling...","This unit is located at N Scott St, 14th St N,...",1.0,0.0,USD,No,1390,"$ 1,39",107,NaN,...,0,0,0,0,0,0,0,0,0,164
5659918074,Studio apartment 1717 12th Ave,"This unit is located at 1717 12th Ave, Seattle...",1.0,0.0,USD,No,925,$ 925,116,1717 12th Avenue,...,0,0,0,0,0,0,0,0,0,132
5668626759,"Studio apartment Washington Blvd, N Cleveland ...","This unit is located at Washington Blvd, N Cle...",NaN,0.0,USD,No,880,$ 880,125,NaN,...,0,0,0,0,0,0,0,0,0,163
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5630240092,Five BR 5407 Abbott Place - Abbott,This unit is located at 5407 Abbott Place - Ab...,4.0,5.0,USD,No,6000,"$ 6,00",6300,5407 Abbott Place Abbott,...,0,0,0,0,0,0,0,0,0,144
5668640983,Six BR 256 Las Entradas,"This unit is located at 256 Las Entradas, Mont...",8.0,6.0,USD,No,25000,"$ 25,00",8716,256 Las Entradas,...,0,0,0,0,0,0,0,0,0,139
5668643292,Six BR 9908 Bentcross Drive,"This unit is located at 9908 Bentcross Drive, ...",8.5,6.0,USD,No,11000,"$ 11,00",11318,9908 Bentcross Dr,...,0,0,0,0,0,0,0,0,0,141
5668662559,One BR in New York NY 10069,"Monthly Rent$4,605 -to $4,790AmenitiesThe Aldy...",NaN,1.0,USD,No,4790,"$ 4,79",40000,NaN,...,0,1,0,0,0,0,0,0,0,989
5509132540,Beautiful Lawrenceville Apartment for rent,"Square footage: 880 sq. feet, unit number: 150...",1.0,1.0,USD,No,1009,"$ 1,01",880,NaN,...,0,0,0,0,0,1,0,0,1,1016

# EXPLORACION DE LOS DATOS