# PREPARACION DE LOS DATOS

In [178]:
#Importar librerias
import pandas as pd

In [179]:
#Importar datos
df = pd.read_csv("datos_apartamentos_rent.csv",index_col=0,encoding="Windows-1252",sep=";")
df = df.dropna()
df['latitude'] = df["latitude"].apply(lambda x: float(str(x).replace(".","")))
df['longitude'] = df["longitude"].apply(lambda x: float(str(x).replace(".","")))
df

,category,title,body,amenities,bathrooms,bedrooms,currency,fee,has_photo,pets_allowed,...,price_display,price_type,square_feet,address,cityname,state,latitude,longitude,source,time
id,,,,,,,,,,,,,,,,,,,,,
5654898031,housing/rent/apartment,Studio Cottage 214,"New Bern Studio includes : 1 bedrooms, 1 micro...","AC,Basketball,Cable or Satellite,Gym,Internet ...",1.0,1.0,USD,No,Thumbnail,"Cats,Dogs",...,"$ 1,56",Monthly,200,180 Moonlight Lake Drive,New Bern,NC,35096.0,-770272.0,RentDigs.com,1576406273
5668625234,housing/rent/apartment,Studio apartment 420 W. Fullerton Pkwy,"This unit is located at 420 W. Fullerton Pkwy,...","Cable or Satellite,Dishwasher,Internet Access,...",1.0,1.0,USD,No,Thumbnail,Cats,...,$ 942,Monthly,225,420 W Fullerton Parkway,Chicago,IL,418625.0,-876825.0,RentLingo,1577359301
5668612110,housing/rent/apartment,Studio apartment 925 Geary Street,"This unit is located at 925 Geary Street, San ...","Dishwasher,Refrigerator",1.0,0.0,USD,No,Thumbnail,"Cats,Dogs",...,"$ 1,70",Monthly,232,925 Geary St,San Francisco,CA,377599.0,-1224379.0,RentLingo,1577358464
5668620457,housing/rent/apartment,Studio apartment 3321 Eureka St,"This unit is located at 3321 Eureka St, Anchor...",Dishwasher,1.0,1.0,USD,No,Thumbnail,"Cats,Dogs",...,$ 705,Monthly,245,3321 Eureka St,Anchorage,AK,611723.0,-1498414.0,RentLingo,1577359000
5668620019,housing/rent/apartment,Studio apartment 4117 University Ave,"This unit is located at 4117 University Ave, C...","Internet Access,Parking,Refrigerator",1.0,0.0,USD,No,Thumbnail,"Cats,Dogs",...,$ 695,Monthly,250,4117 University Avenue,Cedar Falls,IA,425286.0,-924509.0,RentLingo,1577358970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5668626929,housing/rent/apartment,Six BR 16609 Northeast 47th Street,This unit is located at 16609 Northeast 47th S...,"Dishwasher,Refrigerator",4.0,6.0,USD,No,Thumbnail,"Cats,Dogs",...,"$ 7,00",Monthly,3820,16609 Northeast 47th St,Redmond,WA,476767.0,-1220799.0,RentLingo,1577359417
5668617167,housing/rent/apartment,Five BR 302 Bronze Drive,"This unit is located at 302 Bronze Drive, Lexi...","Dishwasher,Refrigerator",4.0,5.0,USD,No,Thumbnail,"Cats,Dogs",...,"$ 2,60",Monthly,3966,302 Bronze Dr,Lexington,SC,339531.0,-812381.0,RentLingo,1577358774
5659898574,housing/rent/apartment,Five BR 55 West 10th Avenue,"This unit is located at 55 West 10th Avenue, C...","Dishwasher,Parking,Patio/Deck,Refrigerator",4.0,5.0,USD,No,Thumbnail,"Cats,Dogs",...,"$ 4,20",Monthly,4736,55 West 10th Ave,Columbus,OH,399974.0,-829829.0,RentLingo,1576666449
5659901599,housing/rent/apartment,Four BR 864 Teakwood Rd,"This unit is located at 864 Teakwood Rd, Los A...","Dishwasher,Parking,Pool,Refrigerator",5.0,4.0,USD,No,Thumbnail,"Cats,Dogs",...,"$ 19,50",Monthly,5000,864 Teakwood Road,Los Angeles,CA,340372.0,-1182972.0,RentLingo,1576666648
5668627239,housing/rent/apartment,Five BR 18605 Avenue Monaco,"This unit is located at 18605 Avenue Monaco, L...","Dishwasher,Pool,Refrigerator",5.0,5.0,USD,No,Thumbnail,"Cats,Dogs",...,"$ 6,90",Monthly,5700,18605 Ave,Lutz,FL,281253.0,-824468.0,RentLingo,1577359442

In [180]:
#Ver las dimensiones del DataFrame
df.shape

(2570, 21)

In [181]:
df.head()

,category,title,body,amenities,bathrooms,bedrooms,currency,fee,has_photo,pets_allowed,...,price_display,price_type,square_feet,address,cityname,state,latitude,longitude,source,time
id,,,,,,,,,,,,,,,,,,,,,
5654898031,housing/rent/apartment,Studio Cottage 214,"New Bern Studio includes : 1 bedrooms, 1 micro...","AC,Basketball,Cable or Satellite,Gym,Internet ...",1.0,1.0,USD,No,Thumbnail,"Cats,Dogs",...,"$ 1,56",Monthly,200,180 Moonlight Lake Drive,New Bern,NC,35096.0,-770272.0,RentDigs.com,1576406273
5668625234,housing/rent/apartment,Studio apartment 420 W. Fullerton Pkwy,"This unit is located at 420 W. Fullerton Pkwy,...","Cable or Satellite,Dishwasher,Internet Access,...",1.0,1.0,USD,No,Thumbnail,Cats,...,$ 942,Monthly,225,420 W Fullerton Parkway,Chicago,IL,418625.0,-876825.0,RentLingo,1577359301
5668612110,housing/rent/apartment,Studio apartment 925 Geary Street,"This unit is located at 925 Geary Street, San ...","Dishwasher,Refrigerator",1.0,0.0,USD,No,Thumbnail,"Cats,Dogs",...,"$ 1,70",Monthly,232,925 Geary St,San Francisco,CA,377599.0,-1224379.0,RentLingo,1577358464
5668620457,housing/rent/apartment,Studio apartment 3321 Eureka St,"This unit is located at 3321 Eureka St, Anchor...",Dishwasher,1.0,1.0,USD,No,Thumbnail,"Cats,Dogs",...,$ 705,Monthly,245,3321 Eureka St,Anchorage,AK,611723.0,-1498414.0,RentLingo,1577359000
5668620019,housing/rent/apartment,Studio apartment 4117 University Ave,"This unit is located at 4117 University Ave, C...","Internet Access,Parking,Refrigerator",1.0,0.0,USD,No,Thumbnail,"Cats,Dogs",...,$ 695,Monthly,250,4117 University Avenue,Cedar Falls,IA,425286.0,-924509.0,RentLingo,1577358970

In [182]:
#Se revisa los valores unicos del tipo de precio
df["price_type"].unique()

array(['Monthly'], dtype=object)

In [183]:
#Se revisa cuantos inmuebles hay por cada tipo de precio
df.groupby(["price_type"]).count()

,category,title,body,amenities,bathrooms,bedrooms,currency,fee,has_photo,pets_allowed,price,price_display,square_feet,address,cityname,state,latitude,longitude,source,time
price_type,,,,,,,,,,,,,,,,,,,,
Monthly,2570,2570,2570,2570,2570,2570,2570,2570,2570,2570,2570,2570,2570,2570,2570,2570,2570,2570,2570,2570

In [184]:
#Se eliminan las 2 filas con tipos de precio distintos a mensual para ser consistentes
df = df[~df["price_type"].isin(["Weekly", "Monthly|Weekly"])]
df

,category,title,body,amenities,bathrooms,bedrooms,currency,fee,has_photo,pets_allowed,...,price_display,price_type,square_feet,address,cityname,state,latitude,longitude,source,time
id,,,,,,,,,,,,,,,,,,,,,
5654898031,housing/rent/apartment,Studio Cottage 214,"New Bern Studio includes : 1 bedrooms, 1 micro...","AC,Basketball,Cable or Satellite,Gym,Internet ...",1.0,1.0,USD,No,Thumbnail,"Cats,Dogs",...,"$ 1,56",Monthly,200,180 Moonlight Lake Drive,New Bern,NC,35096.0,-770272.0,RentDigs.com,1576406273
5668625234,housing/rent/apartment,Studio apartment 420 W. Fullerton Pkwy,"This unit is located at 420 W. Fullerton Pkwy,...","Cable or Satellite,Dishwasher,Internet Access,...",1.0,1.0,USD,No,Thumbnail,Cats,...,$ 942,Monthly,225,420 W Fullerton Parkway,Chicago,IL,418625.0,-876825.0,RentLingo,1577359301
5668612110,housing/rent/apartment,Studio apartment 925 Geary Street,"This unit is located at 925 Geary Street, San ...","Dishwasher,Refrigerator",1.0,0.0,USD,No,Thumbnail,"Cats,Dogs",...,"$ 1,70",Monthly,232,925 Geary St,San Francisco,CA,377599.0,-1224379.0,RentLingo,1577358464
5668620457,housing/rent/apartment,Studio apartment 3321 Eureka St,"This unit is located at 3321 Eureka St, Anchor...",Dishwasher,1.0,1.0,USD,No,Thumbnail,"Cats,Dogs",...,$ 705,Monthly,245,3321 Eureka St,Anchorage,AK,611723.0,-1498414.0,RentLingo,1577359000
5668620019,housing/rent/apartment,Studio apartment 4117 University Ave,"This unit is located at 4117 University Ave, C...","Internet Access,Parking,Refrigerator",1.0,0.0,USD,No,Thumbnail,"Cats,Dogs",...,$ 695,Monthly,250,4117 University Avenue,Cedar Falls,IA,425286.0,-924509.0,RentLingo,1577358970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5668626929,housing/rent/apartment,Six BR 16609 Northeast 47th Street,This unit is located at 16609 Northeast 47th S...,"Dishwasher,Refrigerator",4.0,6.0,USD,No,Thumbnail,"Cats,Dogs",...,"$ 7,00",Monthly,3820,16609 Northeast 47th St,Redmond,WA,476767.0,-1220799.0,RentLingo,1577359417
5668617167,housing/rent/apartment,Five BR 302 Bronze Drive,"This unit is located at 302 Bronze Drive, Lexi...","Dishwasher,Refrigerator",4.0,5.0,USD,No,Thumbnail,"Cats,Dogs",...,"$ 2,60",Monthly,3966,302 Bronze Dr,Lexington,SC,339531.0,-812381.0,RentLingo,1577358774
5659898574,housing/rent/apartment,Five BR 55 West 10th Avenue,"This unit is located at 55 West 10th Avenue, C...","Dishwasher,Parking,Patio/Deck,Refrigerator",4.0,5.0,USD,No,Thumbnail,"Cats,Dogs",...,"$ 4,20",Monthly,4736,55 West 10th Ave,Columbus,OH,399974.0,-829829.0,RentLingo,1576666449
5659901599,housing/rent/apartment,Four BR 864 Teakwood Rd,"This unit is located at 864 Teakwood Rd, Los A...","Dishwasher,Parking,Pool,Refrigerator",5.0,4.0,USD,No,Thumbnail,"Cats,Dogs",...,"$ 19,50",Monthly,5000,864 Teakwood Road,Los Angeles,CA,340372.0,-1182972.0,RentLingo,1576666648
5668627239,housing/rent/apartment,Five BR 18605 Avenue Monaco,"This unit is located at 18605 Avenue Monaco, L...","Dishwasher,Pool,Refrigerator",5.0,5.0,USD,No,Thumbnail,"Cats,Dogs",...,"$ 6,90",Monthly,5700,18605 Ave,Lutz,FL,281253.0,-824468.0,RentLingo,1577359442

In [185]:
#Se revisa que se hayan eliminado correctamente esas dos filas
df.groupby(["price_type"]).count()

,category,title,body,amenities,bathrooms,bedrooms,currency,fee,has_photo,pets_allowed,price,price_display,square_feet,address,cityname,state,latitude,longitude,source,time
price_type,,,,,,,,,,,,,,,,,,,,
Monthly,2570,2570,2570,2570,2570,2570,2570,2570,2570,2570,2570,2570,2570,2570,2570,2570,2570,2570,2570,2570

### CATEGORIZACION DE LAS COLUMNAS

In [186]:
# Categorizar las columnas necesarias
df = pd.get_dummies(df, columns = ['category'], dtype=int, drop_first=False)
df = pd.get_dummies(df, columns = ['pets_allowed'], dtype=int)
df = pd.get_dummies(df, columns = ['has_photo'], dtype=int)
df = pd.get_dummies(df, columns = ['cityname'], dtype=int)
df = pd.get_dummies(df, columns = ['state'],dtype=int)
df = pd.get_dummies(df, columns = ['source'],dtype=int)
df = pd.get_dummies(df, columns = ['price_type'],dtype= int)

df.head()

,title,body,amenities,bathrooms,bedrooms,currency,fee,price,price_display,square_feet,...,state_WI,state_WY,source_ListedBuy,source_RENTCafé,source_RENTOCULAR,source_RentDigs.com,source_RentLingo,source_rentbits,source_tenantcloud,price_type_Monthly
id,,,,,,,,,,,,,,,,,,,,,
5654898031,Studio Cottage 214,"New Bern Studio includes : 1 bedrooms, 1 micro...","AC,Basketball,Cable or Satellite,Gym,Internet ...",1.0,1.0,USD,No,1560,"$ 1,56",200,...,0,0,0,0,0,1,0,0,0,1
5668625234,Studio apartment 420 W. Fullerton Pkwy,"This unit is located at 420 W. Fullerton Pkwy,...","Cable or Satellite,Dishwasher,Internet Access,...",1.0,1.0,USD,No,942,$ 942,225,...,0,0,0,0,0,0,1,0,0,1
5668612110,Studio apartment 925 Geary Street,"This unit is located at 925 Geary Street, San ...","Dishwasher,Refrigerator",1.0,0.0,USD,No,1695,"$ 1,70",232,...,0,0,0,0,0,0,1,0,0,1
5668620457,Studio apartment 3321 Eureka St,"This unit is located at 3321 Eureka St, Anchor...",Dishwasher,1.0,1.0,USD,No,705,$ 705,245,...,0,0,0,0,0,0,1,0,0,1
5668620019,Studio apartment 4117 University Ave,"This unit is located at 4117 University Ave, C...","Internet Access,Parking,Refrigerator",1.0,0.0,USD,No,695,$ 695,250,...,0,0,0,0,0,0,1,0,0,1

In [187]:
#Categorizar la columna de amenities

# Reemplazar los valores nulos con "" y dividir los amenities en listas
df["amenities"] = df["amenities"].fillna("").str.split(",")

# Obtener el conjunto de todas las amenities únicas
amenities_unicas = set(amenity.strip() for sublist in df["amenities"] for amenity in sublist if amenity)

# Crear las nuevas columnas binarias para cada amenity
for amenity in amenities_unicas:
     df[amenity] = df["amenities"].apply(lambda x: 1 if amenity in [a.strip() for a in x] else 0)

# Eliminar la columna original de amenities
df.drop(columns=["amenities"], inplace=True)

df.head()

,title,body,bathrooms,bedrooms,currency,fee,price,price_display,square_feet,address,...,Gated,Luxury,Doorman,Tennis,Clubhouse,Garbage Disposal,Patio/Deck,View,Fireplace,Gym
id,,,,,,,,,,,,,,,,,,,,,
5654898031,Studio Cottage 214,"New Bern Studio includes : 1 bedrooms, 1 micro...",1.0,1.0,USD,No,1560,"$ 1,56",200,180 Moonlight Lake Drive,...,0,0,0,0,0,0,1,0,0,1
5668625234,Studio apartment 420 W. Fullerton Pkwy,"This unit is located at 420 W. Fullerton Pkwy,...",1.0,1.0,USD,No,942,$ 942,225,420 W Fullerton Parkway,...,0,0,0,0,0,0,0,0,0,0
5668612110,Studio apartment 925 Geary Street,"This unit is located at 925 Geary Street, San ...",1.0,0.0,USD,No,1695,"$ 1,70",232,925 Geary St,...,0,0,0,0,0,0,0,0,0,0
5668620457,Studio apartment 3321 Eureka St,"This unit is located at 3321 Eureka St, Anchor...",1.0,1.0,USD,No,705,$ 705,245,3321 Eureka St,...,0,0,0,0,0,0,0,0,0,0
5668620019,Studio apartment 4117 University Ave,"This unit is located at 4117 University Ave, C...",1.0,0.0,USD,No,695,$ 695,250,4117 University Avenue,...,0,0,0,0,0,0,0,0,0,0

### CREACION NUEVA COLUMNA CON EL NUMERO DE CARACTERES DE LA VARIABLE "BODY"

In [188]:
df['longitud_descripcion'] = df['body'].apply(lambda x: len(str(x)))
df.to_csv("datosPreparados.csv",index=False)
df

,title,body,bathrooms,bedrooms,currency,fee,price,price_display,square_feet,address,...,Luxury,Doorman,Tennis,Clubhouse,Garbage Disposal,Patio/Deck,View,Fireplace,Gym,longitud_descripcion
id,,,,,,,,,,,,,,,,,,,,,
5654898031,Studio Cottage 214,"New Bern Studio includes : 1 bedrooms, 1 micro...",1.0,1.0,USD,No,1560,"$ 1,56",200,180 Moonlight Lake Drive,...,0,0,0,0,0,1,0,0,1,761
5668625234,Studio apartment 420 W. Fullerton Pkwy,"This unit is located at 420 W. Fullerton Pkwy,...",1.0,1.0,USD,No,942,$ 942,225,420 W Fullerton Parkway,...,0,0,0,0,0,0,0,0,0,298
5668612110,Studio apartment 925 Geary Street,"This unit is located at 925 Geary Street, San ...",1.0,0.0,USD,No,1695,"$ 1,70",232,925 Geary St,...,0,0,0,0,0,0,0,0,0,244
5668620457,Studio apartment 3321 Eureka St,"This unit is located at 3321 Eureka St, Anchor...",1.0,1.0,USD,No,705,$ 705,245,3321 Eureka St,...,0,0,0,0,0,0,0,0,0,229
5668620019,Studio apartment 4117 University Ave,"This unit is located at 4117 University Ave, C...",1.0,0.0,USD,No,695,$ 695,250,4117 University Avenue,...,0,0,0,0,0,0,0,0,0,305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5668626929,Six BR 16609 Northeast 47th Street,This unit is located at 16609 Northeast 47th S...,4.0,6.0,USD,No,7000,"$ 7,00",3820,16609 Northeast 47th St,...,0,0,0,0,0,0,0,0,0,147
5668617167,Five BR 302 Bronze Drive,"This unit is located at 302 Bronze Drive, Lexi...",4.0,5.0,USD,No,2599,"$ 2,60",3966,302 Bronze Dr,...,0,0,0,0,0,0,0,0,0,138
5659898574,Five BR 55 West 10th Avenue,"This unit is located at 55 West 10th Avenue, C...",4.0,5.0,USD,No,4200,"$ 4,20",4736,55 West 10th Ave,...,0,0,0,0,0,1,0,0,0,308
5659901599,Four BR 864 Teakwood Rd,"This unit is located at 864 Teakwood Rd, Los A...",5.0,4.0,USD,No,19500,"$ 19,50",5000,864 Teakwood Road,...,0,0,0,0,0,0,0,0,0,140
5668627239,Five BR 18605 Avenue Monaco,"This unit is located at 18605 Avenue Monaco, L...",5.0,5.0,USD,No,6900,"$ 6,90",5700,18605 Ave,...,0,0,0,0,0,0,0,0,0,136

# EXPLORACION DE LOS DATOS